$SIZE_BASE: 1em;

$SIZE_H1: $SIZE_BASE * 2.5;
$SIZE_H2: $SIZE_BASE * 2;
$SIZE_H3: $SIZE_BASE * 1.75;
$SIZE_H4: $SIZE_BASE * 1.5;
$SIZE_H5: $SIZE_BASE * 1.25;
$SIZE_H6: $SIZE_BASE;

h1 {
    font-size: $SIZE_H1;
    font-weight: 700;
}

h2 {
    font-size: $SIZE_H2;
    font-weight: 700;
}

h3 {
    font-size: $SIZE_H3;
    font-weight: 700;
}

h4 {
    font-size: $SIZE_H4;
    font-weight: 400;
}

h5 {
    font-size: $SIZE_H5;
    font-weight: 400;
}

h6 {
    font-size: $SIZE_H6;
    font-weight: 700;
}